*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: #000;
}
header{
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
}
.navbar-title h1{
    color: #000;
    font-size: 48px;
}
.navbar-title p{
    color: #000;
    margin-top: -10px;
    font-size: 19px;
}
.navbar{
    display: flex;
    gap: 30px;
    font-family: sans-serif;
    font-size: 15px;
}
.navbar a{
    color: #9B9B9B;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.navbar a:hover{
    color: #00C2FF;
    transition: 0.7s;
    text-decoration: underline 4px;
}
.bottom-header{
    height: 500px;
    background: url(./Rectangle\ 546.png) no-repeat;
    background-size: cover;
    align-items: center;
    padding-left: 250px;
}
.bottom-header h1{
    color: #fff;
    font-size: 65px;
    font-family: sans-serif;
    padding-top: 150px;
}


.blok-text{
    padding-top: 150px;
    text-align: center;
}
.blok-text h1{
    color: #000;
    font-family: sans-serif;
    font-size: 41px;
    font-weight: 600;
}

.blok-text button{
    margin-top: 10px;
    height: 4px;
    width: 140px;
    border: none;
    background-color: #00C2FF;
    border-radius: 2px;
}
.blok-text p{
    margin-top: 20px;
    color: #858585;
    font-family: sans-serif;
    font-size: 23px;
}
.container{
    margin-top: 150px;
    background-color: #E4EFF2;
    padding-top: 100px;
    justify-content: center;
    height: 2600px;
}
.content{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 80px;
}
.card{
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    height: 500px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.card img{
    margin-left: 1px;
    margin-top: 2px;
}
.card p{
    margin-top: 20px;
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
}
.card hr{
    margin-top: 20px;
}
.tsena{
    padding-left: 9px;
}
.tsena h1{
    color: #00C2FF;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 21px;
}
.tsena p{
    color: #9E9E9E;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 7px;
}
.tsena img{
    border-radius: 10px 0px 0px 10px;
    margin-top: -33px;
    margin-left: 28px;
    width: 125px;
    height: 64px;   
}
.tsena h3{
    margin-top: 9px;
    color: #9E9E9E;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.tsena hr{
    margin-top: 4px;
    width: 202px;
}
.tsena1 button{
    margin-top: 2px;
    height: 2px;
    width: 45px;
    border: none;
    background-color: #00C2FF;
    border-radius: 2px;
}
.tsena2{
    margin-top: 13px;
    width: 330px;
    height: 42px;
    cursor: pointer;
    background-color: #00C2FF;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.tsena2:hover{
    transition: 0.6s;
    background-color: #004f67;
    color: #fff;
}



.start-footer{
    height: 650px;
    background: url(./Rectangle\ 541\ \(2\).png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}
.start-footer h1{
    color: #FFF;
    font-family: sans-serif;
    font-size: 41px;
}
.start-footer h4{
    color: #FFF;
    font-family: sans-serif;
    font-size: 23px;
    font-weight: 500;
    margin-top: 15px;
}
.start-footer button{
    border: none;
    width: 290px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-footer button:hover{
    background-color: #696969;
    transition: 0.6s;
    color: #fff;
}
.start-footer button p{
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
}
.start-footer button img{
    width: 25px;
    height: 25px;
    margin-right: 20px;
}
footer{
    background-color: #505053;
    height: 1114px;
}
.footer{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 140px;
}
.footer h1{
    font-size: 70px;
    margin: 0;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.footer p{
    color: #C5C5C5;
    font-family: sans-serif;
    font-size: 18px;
}
.footer h5{
    margin-top: 20px;
    color: #C5C5C5;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.footer-end{
    display: flex;
    padding-top: 30px;;
    gap: 63%;
    justify-content: center;
}